<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SmartAssetIT Register Asset</title>
    <!-- style sheet from https://codepen.io/asfarmed/pen/zYQYMy -->
    <link rel="stylesheet" href="./style2.css" />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"
    ></script>
  </head>

  <body>
    <!-- include header partials -->
    <%- include('partials/header') %>

    <h1 class="text-center">
      SmartAssetIT Register Page
    </h1>

    <!-- Register Asset -->
    <div class="container">
      <h2>Register Asset</h2>
      
      <!-- Spinner -->
      <%- include('partials/spinner') %>

      <!-- Display asset does not exist Alert -->
      <%- include('partials/assetDoesNotExistArea') %> 

      <!-- Display Asset Updated Alert -->
      <%- include('partials/statusArea') %>
      
      <!-- Asset Form partials -->
      <%- include('partials/assetForm') %>
      
      <!-- include connectMetaMask partials -->
      <%- include('partials/connectMetaMask') %>
  
      <button onclick="registerAsset()" type="submit" class="btn btn-primary">
        Register Asset
      </button>
    </div>

    <!-- include footer partials -->
    <%- include('partials/footer') %>

		<!-- Contract Script -->
		<script src="assetContract.js"></script>
		
		<!-- Functions Script -->
    <script>
      //Register Asset Function
      const registerAsset = async () => {
        document.getElementById("spinner").classList.remove("d-none");
        const serial = document.getElementById("serial").value;
        console.log(serial);
        const assetType = document.getElementById("assetType").value;
        const make = document.getElementById("make").value;
        const model = document.getElementById("model").value;
        const RAM = document.getElementById("ram").value;
        const hardDriveType = document.getElementById("hardDriveType").value;
        const hardDriveSize = document.getElementById("hardDriveSize").value;
        const location = document.getElementById("location").value;
        console.log(
          serial,
          assetType,
          make,
          model,
          RAM,
          hardDriveType,
          hardDriveSize,
          location
        );
        try {
          const result = await window.contract.methods
            .registerAsset(
              serial,
              assetType,
              make,
              model,
              RAM,
              hardDriveType,
              hardDriveSize,
              location
            )
            .send({ from: account });
          document.getElementById("statusArea").innerHTML = `Asset registered`;
          document.getElementById("statusArea").classList.remove("d-none");
          document.getElementById("spinner").classList.add("d-none");
        } catch (err) {
          document.getElementById("statusArea").innerHTML = `Asset not registered`;
          document.getElementById("statusArea").classList.remove("d-none");
          document.getElementById("spinner").classList.add("d-none");
        }
      };
    </script>
  </body>
</html>