<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SmartAssetIT Update Asset</title>
    <!-- style sheet from https://codepen.io/asfarmed/pen/zYQYMy -->
    <link rel="stylesheet" href="./style2.css" />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"
    ></script>
  </head>

  <body>
    <!-- include header partials -->
    <%- include('partials/header') %>

    <h1 class="text-center">
      SmartAssetIT Update Page
    </h1>

    <!-- Get Asset Details-->
    <div class="container">
    <div
      class="container-fluid cover-container text-center d-flex flex-column w-75"
    >
      <div class="row align-items-center justify-content-center flex-fill">
        <div class="col h100">
          <h2 class="text-warning">Update Asset</h2>
          <br />
          <p class="text-white">
            Sometimes we need to update our asset with a RAM or Hard Drive 
            upgrade or need to move location. As part of ITAM, these details 
            should be recorded and this page helps you do this. Enter
            the serial number and click "Get Current Asset Deails" to get started.
          </p>
          <br />
          <p class="fs-2 text-warning">FAST - SECURE - DONE!</p>
        </div>

        <div class="col h100">
      <!-- Get Details -->
      <!-- serialGet Partial -->
      <%- include('partials/serialGet') %>
            
      <!-- include connectMetaMask partials -->
      <%- include('partials/connectMetaMask') %>

      <button onclick="populateAssetDetails()" class="btn btn-primary">
        Get Current Asset Details
      </button>
      <p></p>
                  <!-- Spinner -->
      <%- include('partials/spinner') %>

      <!-- Display asset does not exist Alert -->
      <%- include('partials/assetDoesNotExistArea') %> 

      <!-- Display Asset Updated Alert -->
      <%- include('partials/statusArea') %>
    </div>

      <!-- Update Asset -->
      <div id="formArea" class="container d-none">
            <div class="row align-items-center justify-content-center flex-fill">
              <div class="col h100">
      <!-- Asset Form partials-->
      <%- include('partials/assetForm') %>
  
      <button onclick="updateAsset()" type="submit" class="btn btn-primary">
        Update Asset
      </button>
      </div>
        
        <div class="col h100">
          <h2 class="text-warning">Update Details</h2>
          <br />
      
                <p class="text-white">
            To update the details of your asset change the details as required
            and click "Update Asset"<br>
            <p class="text-white">
            Please note the following fields are not updateable:<br><br>
              <b>
              Asset Serial Number<br>
              Asset Type<Br>
              Asset Make<br>
              Asset Model<br>
              </b>
            </p>
          </p>
        </div>

    </div>

    <!-- include footer partials -->
    <%- include('partials/footer') %>

		<!-- Contract Script -->
		<script src="assetContract.js"></script>

		<!-- Functions Script -->
    <script>
      //Update Asset Function
      const updateAsset = async () => {
        document.getElementById("spinner").classList.remove("d-none");
        const serial = document.getElementById("serial").value;
        const assetType = document.getElementById("assetType").value;
        const make = document.getElementById("make").value;
        const model = document.getElementById("model").value;
        const RAM = document.getElementById("ram").value;
        const hardDriveType = document.getElementById("hardDriveType").value;
        const hardDriveSize = document.getElementById("hardDriveSize").value;
        const location = document.getElementById("location").value;
        console.log(
          serial,
          assetType,
          make,
          model,
          RAM,
          hardDriveType,
          hardDriveSize,
          location
        );
        try {
          const result = await window.contract.methods
            .updateAsset(
              serial,
              assetType,
              make,
              model,
              RAM,
              hardDriveType,
              hardDriveSize,
              location
            )
            .send({ from: account });
          document.getElementById(
            "statusArea"
          ).innerHTML = `Asset ${serial} updated`;
          document.getElementById("statusArea").classList.remove("d-none");
          document.getElementById("spinner").classList.add("d-none");
          document.getElementById("formArea").classList.add("d-none");
        } catch (err) {
          document.getElementById("statusArea").classList.remove("alert-success");
          document.getElementById("statusArea").classList.add("alert-danger");
          document.getElementById("statusArea").innerHTML = `Asset not updated`;
          document.getElementById("statusArea").classList.remove("d-none");
          document.getElementById("spinner").classList.add("d-none");
        }
      };

      //Get asset details and populate form
      const populateAssetDetails = async () => {
        const serial = document.getElementById("serialGet").value;
        console.log(serial);
        try {
          const result = await window.contract.methods
            .getAssetDetails(serial)
            .call();
          console.log(result);
          document.getElementById("serial").value = serial;
          document.getElementById("serial").readOnly = true;
          document.getElementById("assetType").value = result[1];
          document.getElementById("assetType").readOnly = true;
          document.getElementById("make").value = result[2];
          document.getElementById("make").readOnly = true;
          document.getElementById("model").value = result[3];
          document.getElementById("model").readOnly = true;
          document.getElementById("ram").value = result[4];
          document.getElementById("hardDriveType").value = result[5];
          document.getElementById("hardDriveSize").value = result[6];
          document.getElementById("location").value = result[7];
          document.getElementById("formArea").classList.remove("d-none");
          document
            .getElementById("assetDoesNotExistArea")
            .classList.add("d-none");
        } catch (err) {
          console.log(err);
          document.getElementById("formArea").classList.add("d-none");
          document
            .getElementById("assetDoesNotExistArea")
            .classList.remove("d-none");
        }
      };
    </script>
  </body>
</html>